<ul>
  {{#each articles as |value key|}}
    <li>
        <h3>{{this.title}}</h3>
        <p>{{this.summery}}</p>
        {{#each this.notes}}
        <p>{{this.notes}}<button data-noteID="{{this._id}}" data-articleID="{{value._id}}" class="removeNote">X</button></p>
        {{/each}}
    </li>
    <form action="/api/addnotes/{{this._id}}" method="post">
        <textarea type="text" name="note"></textarea>
        <input type="submit" value="Submit">
    </form>
  {{/each}}
</ul>